@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

    * {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.5;
        color: #000;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }

    header {
        height: 50px;  /* 1. 엄마에게 높이값을 넣어준다.*/
        /* padding: 20px; */
        padding-top: 10px;
        background-color: violet; 
        text-align: center;
    }

    h1 { 
        float: left;
        height: 30px;
        background-color: tomato; 
    }

    nav { 
        /* float: right; */
        /* width: 40%; */
        display: inline-block;
        background-color: teal; 
    }

    .nav-depth1 li {
        float: left;
    }

    .nav-depth1 a {
        display: block;
        padding: 5px;
    }

    .lang {
        float: right;
        height: 30px;
        background-color: cornflowerblue;
    }

    .lst-lang li {
        float: left;   /* float: left; = 일자로 만들어 주는거   float: right; = 거꾸로 정렬이 되는거 */
    }

    .container {
        /* overflow: hidden;   */
        /* 2. 높이값을 넣을수 없는 영역에는 overflow : hidden; 속성을 넣어준다. overflow : hidden; = */
        background-color: yellowgreen;
       }

    main {
    overflow: hidden;
    float: left;
    /* height: 200px; */
    width: 70%;
    background-color: turquoise;
    }

    .lst-shop {
        overflow: hidden;
    }

    .lst-shop li {
        float: left;
        width: 30%;
        height: 50px;
        margin-right: 5%;
        border: 1px solid red;
        background: yellow;
    }

    .lst-shop li:nth-child(3n) {
        margin-right: 0;
    }   /* 3n = 3의 배수 애들한테는 공백( margin-right: 0 )을 주지 말라는 뜻 */

    .lst-shop a {
        display: block;   /* 이건 폭만 들어 간다. */
        height: 100%;   /* 그래서 height: 100%; 높이값도 줘야 한다. */
    }

    /* bootstrap 정렬 */
    .lst-shop2 {
        overflow: hidden;
        margin: 20px -5px 0 -5px;
    }

    .lst-shop2 li {
        float: left;
        width: 33.333%;
        padding: 0 5px;
        /* border: 1px solid grey;
        background: white; */
    }

    .lst-shop2 a {
        display: block;
        background: wheat;
        border: 1px solid #000;
    }

    aside {
        float: right;
        height: 100px;
        width: 28%;
        background-color: wheat;
    }

    footer { 
        background-color: rgba(201, 92, 92, 0.5);
        text-align: center;
    }

    .copyright {
        display: inline-block;
        /* float: left; */
        /* clear: both;  float clear */
        background: rgb(255, 217, 0);
    }

    .sns {
        float: right;
    }

    /* 3.clearfix 처리 */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }



